# --- CÁC FILE CẦN CHẶN ---
node_modules
.git
.gitignore
cosign
cosign.pub
cosign.key
cosign.bundle
*.tgz
*.sig

# Chặn tất cả file json (như sbom.json, provenance.json...)
*.json 

# Chặn log và report
dependency-check-report.html
dependency-check-report.xml
coverage/
Dockerfile
Jenkinsfile

# --- QUAN TRỌNG: MỞ KHÓA CHO PACKAGE ---
# Dấu ! nghĩa là "Không chặn file này" (Exception)
!package.json
!package-lock.json
